@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');


body{
    background-color: black;
    color: white;
    margin: 0 auto;
    max-width: 1800px;
}

#root{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
}

.timeline {
    /*max-width: 1000px;*/
    flex: 0 0 1000px;

    font-family: 'Inter', sans-serif;


    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}



.header {
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2F3336;
}

.top-tweets {
    width: 2rem;
    height: auto;
}

.page-title {
    font-size: 2rem;
    font-weight: bold;
}



.tweet-editor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding:  1rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.avatar {
    /*height: 70px;*/
    /*width: 70px;*/
    flex: 0 0 70px;
    /*padding: 0 rem;*/
}

.avatar img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}

.tweet-editor-form {
    flex: auto;
}

.tweet-editor-input {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    resize: none;
    padding: 20px 0 0 0;
}

.tweet-editor-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweet-editor-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.8rem 0;
    gap: 1rem;
}

.button {
    text-transform: capitalize;
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
}
.tweet{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.tweet-avatar {
    /*height: 70px;*/
    /*width: 70px;*/
    flex: 0 0 70px;
}

.tweet-avatar img{
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}
.tweet-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}
.tweet-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tweet-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 1.3rem;
}

.tweet-title svg{
    width: 1.5rem;
    height: auto;
}
.tweet-title-author{
    font-size: 1.5rem;
}
.tweet-title-details{
    color: #6E767D;
}
.tweet-text{
    color: #D9D9D9;
    font-size: 1.5rem;
}

.tweet-image{
    width: 100%;
}

.tweet-image img{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    border-color: #2F3336;
    border-style: solid;
    border-width: 1px;
}

.tweet-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: grey;
    font-size: 1rem;
}

.tweet-actions svg {
    width: 1.5rem;
    height: auto;
    color: #2F3336;
}

.tweet-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* My own Css */

.my-own-button {
    background: none;
    border: none;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out;
    
}

.my-own-button:hover {
    border-radius: 50px;
    background-color: rgba(0, 149, 248, 0.277);
    padding: 10px;

}


.my-own-link-style {
    text-decoration: none;
    color: white;
}

.sidebar{
    flex: 0 0 400px;
    position: sticky;
    padding-top: 2rem;
    top: 0;
    height: 100%;
    border-left: 1px solid #2F3336;
    
}

.sidebar-conteiner {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    padding-bottom: 395px;
}

.Links-conteiner{
    display: flex;
    font-family: 'Inter', sans-serif;
    gap: 25px;
    padding: 0rem 0rem 2rem 5rem;   
}

.sidebar-link-style {
    
    font-size: 1.2rem;
    font-weight: 50px ;
}

.tweet-button-sidebar{
    text-transform: capitalize;
    padding: 1rem 7rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
    margin: 0rem 0rem 0rem 4rem;
}

.profile-settings-conteiner{
    display: flex;
    gap: 25px;
    margin: 0rem 0rem 0rem 4rem;
}

.avatar-profile-settings img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

.profile-settings-body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    

}

.tweet-title-author-set{
    font-size: 1.2rem;
    font-weight: 50px ;

}

.tweet-title-details-set{
    font-size: 1.2rem;
    font-weight: 50px ;
    color: #6E767D;
    
}

.trends {
    flex: 0 0 400px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    gap: 15px;
    height: 100%;
    padding-top: 2rem;
    border-right: 1px solid #2F3336;
} 

/* .trends-search-bar-section
{
    margin-bottom: ;
} */
.search-bar {
    text-transform: capitalize;
    padding: 1rem 6rem;
    border: none;
    border-radius: 50px;
    background-color: rgb(71, 68, 68);
    font-size: 1rem;
    margin: 0px 30px 0px 0px;

}
.search-bar::placeholder{
    color: gray;
}

.trends-for-you-section{
    background-color: rgb(58, 56, 56);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    margin: 0px 30px 0px 0px;
    
}


.trends-for-you-title{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 50px;
    padding: 10px 25px 10px 10px;
}

.trendsDetails{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 10px;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.trendsDetails:hover {
    background-color: rgb(72, 69, 69);
}


.trends-detail-title {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 50px;
}

.trends-detai-middle p {
    font-size: 1.3rem;
    font-weight: 50px;
}

.see-more {
    font-size: 1.3rem;
    font-weight: 50px;
    color: #1D9BF0;
    padding: 20px 0px 20px 10px;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.see-more:hover {
    background-color: rgb(72, 69, 69);
    border-radius: 0px 0px 10px 10px;
}

.link-style {
    text-decoration: none;
    color: #1D9BF0;
}

.who-to-follow-section {
    background-color: rgb(58, 56, 56);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    margin: 0px 30px 0px 0px;
}

.who-follow-conteiner {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 10px 10px;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.who-follow-conteiner:hover {
    background-color: rgb(72, 69, 69);
}

.who-follow-content{
    display: flex;
    gap: 10px;
    
}

.footer-section{
    flex-direction: column;
    gap: 10px;
    padding: 15px 0px 0px 5px;
}

.footer-section-on-line{
    display: flex;
    gap: 20px;
    font-family: 'Inter', sans-serif;
    color: #6E767D;
    padding: 0px 0px 5px 0px;
    
    
}

/* ======== Style of follow button ========== */
.follow-button {
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #000000;
    border-radius: 50px;
    padding: 0px 15px;
    margin: 10px 0px;
}
