@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
    color: white;
    margin: 0 auto;
    max-width: 1800px;
}

#root{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    gap: 30px;
}

.timeline {
    /*max-width: 1000px;*/
    flex: 0 0 1000px;

    font-family: 'Inter', sans-serif;


    border-left: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
}



.header {
    position: fixed;
    width: 999px;
    background-color: rgba(0, 0, 0, 0.500);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
    padding: 1.5rem 1rem;
    backdrop-filter: blur(8px);
    z-index: 999;
}

.top-tweets {
    width: 2rem;
    height: auto;
}

.page-title {
    font-size: 2rem;
    font-weight: bold;
}



.tweet-editor {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding:  1rem 1rem;
    margin-top: 110px;
    border-bottom: 1px solid #2F3336;
}

.avatar {
    /*height: 70px;*/
    /*width: 70px;*/
    flex: 0 0 70px;
    /*padding: 0 rem;*/
}

.avatar img {
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}

.tweet-editor-form {
    flex: auto;
}

.tweet-editor-input {
    height: 60px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    resize: none;
    padding: 20px 0 0 0;
}

.tweet-editor-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tweet-editor-actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.8rem 0;
    gap: 1rem;
}

.button {
    text-transform: capitalize;
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.tweet{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #2F3336;
}

.tweet-avatar {
    /*height: 70px;*/
    /*width: 70px;*/
    flex: 0 0 70px;
}

.tweet-avatar img{
    max-width: 100%;
    max-height: 100px;
    border-radius: 100%;
}
.tweet-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}
.tweet-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.tweet-title{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 1.3rem;
}

.tweet-title svg{
    width: 1.5rem;
    height: auto;
}
.tweet-title-author{
    font-size: 1.5rem;
}
.tweet-title-details{
    color: #6E767D;
}
.tweet-text{
    color: #D9D9D9;
    font-size: 1.5rem;
}

.tweet-image{
    width: 100%;
}

.tweet-image img{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
    border-color: #2F3336;
    border-style: solid;
    border-width: 1px;
}

.tweet-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    color: grey;
    font-size: 1rem;
}

/* .tweet-actions:hover {
    background-color: #1D9BF0;
} */

.tweet-actions svg {
    width: 1.5rem;
    height: auto;
    color: #2F3336;
}

.tweet-action{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/*========== My own Css========== */

.my-own-button {
    background: none;
    border: none;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out;
    cursor: pointer;
}

.my-own-button:hover {
    border-radius: 50px;
    background-color: rgba(0, 149, 248, 0.277);
    padding: 10px;

}


.my-own-link-style {
    text-decoration: none;
    color: white;
}

/*========== Style of Sidebar========== */

.sidebar{
    flex: 0 0 400px;
    position: sticky;
    padding-top: 2rem;
    top: 0;
    height: 100%;
    border-left: 1px solid #2F3336;
    
}

.sidebar-conteiner {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    margin: 0px 0px 0px 90px;
    padding-bottom: 200px;
    
}


.Links-conteiner{
    display: flex;
    font-family: 'Inter', sans-serif;
    gap: 25px;
    width: auto;
    padding: 1rem 1rem;
    margin-bottom: 20px;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.Links-conteiner:hover {
    background-color:  #474444;
    border-radius: 50px;
}

/* ======== Style of navigation button ========== */

.navigation-button {
    background: none;
    border: none;
    cursor: pointer;

}

.sidebar-link-style {
    
    font-size: 1.2rem;
    font-weight: 50px ;
}

/*========== Style of Sidebar Button========== */

.tweet-button-sidebar{
    text-transform: capitalize;
    padding: 1rem 7rem;
    border: none;
    border-radius: 50px;
    background-color: #1D9BF0;
    color: white;
    font-size: 1rem;
    margin: 0rem 0rem 0rem 0rem;
    cursor: pointer;
}

/*========== Style of Sidebar Profile Settings========== */


.profile-settings-conteiner{
    display: flex;
    gap: 25px;
    margin: 0rem 0rem 0rem 4rem;
}

.avatar-profile-settings img {
    width: 65px;
    height: 65px;
    border-radius: 100%;
}

.profile-settings-body {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    

}

.tweet-title-author-set{
    font-size: 1.2rem;
    font-weight: 50px ;

}

.tweet-title-details-set{
    font-size: 1.2rem;
    font-weight: 50px ;
    color: #6E767D;
    
}

/* ======== Style of Trends ========== */

.trends {
    flex: 0 0 430px;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    gap: 15px;
    height: 100%;
    padding-top: 2rem;
    border-right: 1px solid #2F3336;
} 

/* .trends-search-bar-section
{
    margin-bottom: ;
} */

/* ======== Style of Search Bar ========== */

.search-bar {
    text-transform: capitalize;
    background: url("../Icons/Search.png") no-repeat;
    background-size: 20px;
    background-position: 10px center;
    background-color: rgb(71, 68, 68);
    font-size: 1rem;
    padding: 1rem 9rem 1rem 3rem;
    border-color: transparent;
    border-radius: 50px;
}
.search-bar::placeholder{
    color: gray;
}

/* ======== Style of trends for you section ========== */

.trends-for-you-section{
    background-color: rgb(58, 56, 56);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    margin: 0px 30px 0px 0px;
    
}

/* ======== Style of trends details ========== */

.trends-for-you-title{
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 50px;
    padding: 10px 25px 10px 10px;
}

.trendsDetails{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 10px;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.trendsDetails:hover {
    background-color: rgb(72, 69, 69);
}


.trends-detail-title {
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 50px;
}

.trends-detai-middle p {
    font-size: 1.3rem;
    font-weight: 50px;
}

.see-more {
    font-size: 1.3rem;
    font-weight: 50px;
    color: #1D9BF0;
    padding: 20px 0px 20px 10px;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.see-more:hover {
    background-color: rgb(72, 69, 69);
    border-radius: 0px 0px 10px 10px;
}

.link-style {
    text-decoration: none;
    color: #1D9BF0;
}

/* ======== Style of trends Who to follow section ========== */


.who-to-follow-section {
    background-color: rgb(58, 56, 56);
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    margin: 0px 30px 0px 0px;
}

.who-follow-conteiner {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 10px;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.who-follow-conteiner:hover {
    background-color: rgb(72, 69, 69);
}

.who-follow-content{
    display: flex;
    gap: 10px;
    
}


/* ======== Style of Footer ========== */

.footer-section{
    flex-direction: column;
    gap: 10px;
    padding: 15px 0px 0px 5px;
}

.footer-section-on-line{
    display: flex;
    gap: 20px;
    font-family: 'Inter', sans-serif;
    color: #6E767D;
    padding: 0px 0px 5px 0px;
    
    
}

/* ======== Style of follow button ========== */

.follow-button {
    background-color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-color: none;
    border: none;
    border-radius: 50px;
    padding: 0px 15px;
    margin: 10px 0px;
    cursor: pointer;
}


/* ======== Style of navigation button ========== */

.more-button {
    background: none;
    border: none;
    transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out, padding 0.3s ease-in-out;
    cursor: pointer;
}

.more-button:hover {
    background-color:  rgba(0, 149, 248, 0.277);
    border-radius: 100px;
    padding: 10px 10px;
}

/* ======== Style of header Cnn ========== */
.headerCnn {
    position: fixed;
    width: 999px;
    display: flex;
    gap: 55px;
    background-color: rgba(0, 0, 0, 0.500);
    border-bottom: 1px solid #2F3336;
    border-right: 1px solid #2F3336;
    padding: 20px 0px 20px 20px;
    backdrop-filter: blur(8px);
    z-index: 999;

}

/* ======== Style of User Profil Tweet ========== */
/* .user-profil-tweet-container {
position: relative;
} */

/* ======== Style of User Profil Container ========== */
.userProfilContainer {
    position: absolute;
    top: 300px;
    width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    margin: 0px 20px;
}

/* ======== Style of User Cover ========== */
.user-cover {
    width: 100%;
    height: 100%;
    margin-top: 110px;
}

/* ======== Style of User Profil Cnn ========== */
.userProfilCnn {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border-width: 8px;
    border-style: solid;
    border-color: black;
    
}

.user-profil-detail-view{
    margin-top: 90px;

}

/* ======== Style of User Profil Elements ========== */

.userProfilButtonElements {
    display: flex;
    gap: 10px;
    padding-bottom: 10px;
}

.iconMore {
    width: 50px;
    height: 50px;
}

/* ======== Style of User Profil Details ========== */
.user-profil-details-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0px 20px;

}

.user-text-purpos {
    font-size: 20px;
    /* margin: 20px 0px opx 0px; */
}

.user-elements {
    display: flex;
    gap: 20px;
}

.link-elements {
    display: flex;
    gap: 10px;
}
.link-elements div p {
    font-size: 30px;
}